:root {
    --bg-accent: #d739a4;
    --fc-gray-200: rgb(224, 224, 224);
    --fc-gray-400: rgb(195, 195, 195);
    --fc-gray-600: rgb(70, 70, 70);
    --fc-gray-800: rgb(47, 47, 47);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}
