:root {
    --bg-accent: #d739a4;
    --fc-gray-200: rgb(224, 224, 224);
    --fc-gray-400: rgb(195, 195, 195);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}
